body {
    background-color: blanchedalmond;
    margin: 0px;
    padding: 0px;
}

outerDiv {
    width: 200px;
    height: 400px; 
    transform: translate(300%, 100%);
    border: none;
    object-fit: cover;

    position: absolute;
    display: block;
    box-sizing: border-box;
    
}

hook {
    background-image: url(../images/grapplingHook.png.crdownload);
    width: 100%;
    height: 100%;
    
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

letter {
    width:130px; height: 110px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 100px;
}